[submodule "themes/monopriv"]
	path = themes/monopriv
	url = https://gitlab.com/kskarthik/monopriv.git
[submodule "static/ffxiv-datamining"]
	path = static/ffxiv-datamining
	url = https://github.com/xivapi/ffxiv-datamining.git
