/* Global Style Overrides */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

/* End Global Style Overrides */

/* START CV STYLE! */

.cv * .roundedpic{
	display: block; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin-right:1em;
}

#cvpic:hover, #cvpic:focus, #cvpic:active{
	    content:url("/img/pic2.png");
}


.cv #cvheader {
	display:flex; align-items:center;
}

.cv #cvcontent {
	column-count: 1; margin-top: 1em;
}

/* END CV STYLE! */

/* START TRANSLATION LINKS STYLE */


#translationslist a, #translationslist a:visited {
	color: white;
  	opacity: 100%;
}

#translationslist a:hover, #translationslist a:focus, #translationslist a:active{
	text-decoration: none;
	opacity: 50%;
}

/* END TRANSLATION LINKS STYLE */
