/* Global Style Overrides */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


a.no-style , a.no-style:visited, a.no-style:focus, a.no-style:hover, a.no-style:active {
		text-decoration: none;
		color: white !important;
}

#rssbadge {
	vertical-align:middle;
	padding-bottom:0.10em;
}


/* End Global Style Overrides */

/* Blinking Cursor by Artem Gordisnky */

.blinking-cursor {
	font-weight: 100;
	font-size: 30px;
	color: #2e3d48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
	from,
	to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
  }
  
  @-moz-keyframes blink {
	from,
	to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
  }
  
  @-webkit-keyframes "blink" {
	from,
	to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
  }
  
  @-ms-keyframes "blink" {
	from,
	to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
  }
  
  @-o-keyframes "blink" {
	from,
	to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
  }
  

/* End Blinking Cursor */

/* START CV STYLE! */

.cv .extra-spacing{
	padding-top:0.25em;
	padding-bottom: 0.25em;
}
.cv * .roundedpic{
	display: block; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin-right:1em;
	position:relative;
	z-index: 100;
width: 128px !important;
	height: 128px !important;
}

#cvpic, #cvpicspan:hover #cvpic2, #cvpicspan:focus #cvpic2, #cvpicspan:active #cvpic2{
	display:block
 }
 #cvpic2, #cvpicspan:hover #cvpic, #cvpicspan:focus #cvpic, #cvpicspan:active #cvpic{
	display:none
 }


.cv #cvheader {
	display:flex; align-items:center;
	padding-top:0.25em;
	padding-bottom: 0.25em;
	
}

.cv #cvcontent {
	column-count: 1; margin-top: 1em;
}

/* END CV STYLE! */

/* START TRANSLATION LINKS STYLE */


#translationslist a, #translationslist a:visited {
	color: white;
  	opacity: 100%;
}

#translationslist a:hover, #translationslist a:focus, #translationslist a:active{
	text-decoration: none;
	opacity: 50%;
}

/* END TRANSLATION LINKS STYLE */
