{{define "main"}}


	<section class="cv container text-monospace text-justified mt-3">
	  <h2 class="extra-spacing text-center">{{ .Title }}</h2>
	  <h5 class="extra-spacing text-center">{{ .Params.Subtitle }}</h5>
	  
	  <div id="cvheader">
		  <span id="cvpicspan">
	  <img width="128px" height="128px" id="cvpic" class="roundedpic" src="{{ "img/pic1.png" | absURL }}">
	  <img width="128px" height="128px" id="cvpic2" class="roundedpic" src="{{ "img/pic2.png" | absURL }}">
	</span>
  <span>{{ .Description }}</span>	
</div>
	    <div id="cvcontent">{{ .Content }}</div>
	</section>


{{end}}
